{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        @layer base {

            html,
            body {
                @apply !m-0 !p-0;
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}?v=2">
    <title>{% block title %}Smart Traffic System{% endblock %}</title>
</head>

<body>
    {% include 'partials/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</body>

</html>