{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @tailwind base;
        @tailwind components;
        @tailwind utilities;
        
        @layer base {
            html, body {
                @apply !m-0 !p-0;
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}?v=2">
    <title>Document</title>
</head>
<body>
    <nav class="/* normal */ rounded-full ">
        <div class="/* normal */ grid grid-cols-3
                    /* shadow */ shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1),0_2px_4px_-1px_rgba(0,0,0,0.06)]">
        <div><a href="{% url 'about' %}" class="nav-button">About</a></div>
        <div><a href="{% url 'menu' %}" class="nav-button">Menu</a></div>
        <div><a href="{% url 'traffic' %}" class="nav-button">Traffic</a></div>
    </div>
    </nav>
    <div class="grid-container">
        <div class="col-span-2 text-center h-[10%]">
            <h1>Documentation</h1>
        </div>
        <div class="relative group col-span-2">
            <div class="flex flex-col absolute left-3 bg-[#17BEBB] rounded-[20px]">
                <div class="col-span-2 text-center">Model</div> 
                <div class="flex flex-row gap-2"> <img src="{% static 'assets/yolo.png' %}" alt="" class="w-[200px] h-[200px] rounded-[20px] ">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia eligendi aut laborum, cupiditate repudiandae dignissimos alias rerum rem, veritatis eveniet corporis animi at reiciendis, assumenda quibusdam quo aperiam magnam illo.</p></div>
            </div>
        </div>

    </div>
</body>
</html>